/* Home.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/tropical-palms.jpg'); /* Chemin relatif à partir de la racine du dossier public */
  background-size: cover;
  background-position: center;
  background-color: rgb(5, 5, 5);
}

.title1 {
  display: flex;
  justify-content: center;
  font-size: 29px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: sans-serif;
  position: relative; /* Position relative pour utiliser z-index */
  background-color: #000000;
  box-shadow: inset 0 0 0 2px white, inset 0 0 0 3px black; /* Crée un liseré blanc de 1 pixel autour du titre */
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 25%;
  z-index: 1; 
  margin-top: 20px;
}

.title:hover {
  transform: scale(1.1); /* Effet de zoom sur le survol */
}

.titleInput {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  box-sizing: border-box;
}

.activeTitleInput {
  background-color: rgb(255, 255, 255); /* Couleur de fond pour le titre actif */
  transition: background-color 0.3s ease;
  outline: 2px solid rgb(2, 209, 250); /* Couleur et épaisseur de l'outline pour le titre actif */
  border: 2px solid rgb(51, 182, 215); /* Couleur et épaisseur de la bordure pour le titre actif */
  transition: outline 0.3s ease, border 0.3s ease;

}

.inactiveTitleInput {
  background-color: rgba(255, 255, 255, 0.2); /* Blanc avec 20% d'opacité */
  transition: background-color 0.3s ease;
}

.clickableTitle, .activeList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
}

.centeredTitle {
  text-align: center;
  width: fit-content;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.taskButtons {
  display: flex;
  justify-content: space-between; /* Pour espacer les boutons */
  margin-top: 10px; /* Pour ajouter de l'espace au-dessus des boutons */
  margin-right: -5px;
  margin-bottom: 6px;
}

.taskButtons button {
  margin-right: 5px; /* Pour ajouter un espace entre les boutons */
}

.backgroundSelector {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.backgroundOption {
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: transform 0.3s;
}

.backgroundOption:hover {
  transform: scale(0.7);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Ajoutez une marge en bas pour l'espace entre l'entrée et le bouton */
}

.taskListContainer {
  height: 4rem;
  position: relative; 
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 0 4px black;
  padding: 20px;
  border-radius: 10px;
  z-index: 1; 
  margin-top: 10px;
  list-style: none;
  overflow: hidden; /* Cache le débordement pour une transition fluide */
  transition: height 0.3s ease-in-out; /* Ajoute une transition pour un effet fluide */
}

.taskListContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.taskListContainer li {
  height: 2rem;
}

.containerHeight {
  height: 4rem;
}

.taskList {
  list-style-type: none; /* Supprime les puces des éléments de la liste */
  padding: 0; /* Supprime les marges intérieures par défaut */
  margin: 0; /* Supprime les marges extérieures par défaut */
}

.taskItem {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 104%;
}

.task-item input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.task-item button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-item button:hover {
  background-color: #45a049;
}

.addTaskContainer {
  margin-bottom: 1rem;
}

.add-task-container input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.add-task-container button {
  background-color: #212222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-container button:hover {
  background-color: #656668;
}

.deleteButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.deleteButton {
  background-color: #fdfdfd;
    color: black;
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

.deleteButton:hover {
  background-color: rgb(255, 0, 43);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackLink {
  color: black;
}

.carousel {
  margin-top: 20px;
  width: 160px;
  height: 60px;
  position: relative;
}

.nextArrow, .prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.nextArrow {
  right: -35px;
  width: 20px;  
  height: 20px;
}

.prevArrow {
  left: -35px;
  width: 20px;  
  height: 20px; 
}

.nextArrow svg, .prevArrow svg {
  font-size: 16px; /* Taille de l'icône de la flèche */
  color: black;    /* Couleur de la flèche */
}

.prevArrow svg {
  font-size: 20px; /* Taille personnalisée de l'icône de la flèche */
}

.slick-dots li button {
  display: none;
}

.title2 {
  display: flex;
  justify-content: center;
  font-size: 29px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: sans-serif;
  position: relative; /* Position relative pour utiliser z-index */
  background-color: #000000;
  box-shadow: inset 0 0 0 2px white, inset 0 0 0 3px black; /* Crée un liseré blanc de 1 pixel autour du titre */
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 25%;
  z-index: 1; 
  margin-top: 100px;
}

/* Media queries pour les tailles d'écran spécifiques */

@media screen and (max-width: 1024px) {
  /* Ajoutez vos styles spécifiques pour les écrans jusqu'à 768px de largeur */
  .title {
    font-size: 30px; /* Redimensionnez la taille du titre */
    width: 22%; /* Ajustez la largeur du titre pour occuper toute la largeur de l'écran */
  }
}
@media screen and (max-width: 820px) {
  /* Ajoutez vos styles spécifiques pour les écrans jusqu'à 768px de largeur */
  .title {
    font-size: 30px; /* Redimensionnez la taille du titre */
    width: 30%; /* Ajustez la largeur du titre pour occuper toute la largeur de l'écran */
  }
}

@media screen and (max-width: 768px) {
  /* Ajoutez vos styles spécifiques pour les écrans jusqu'à 768px de largeur */
  .title {
    font-size: 35px; /* Redimensionnez la taille du titre */
    width: 35%; /* Ajustez la largeur du titre pour occuper toute la largeur de l'écran */
  }
}


@media screen and (max-width: 480px) {
  /* Ajoutez vos styles spécifiques pour les écrans jusqu'à 480px de largeur */
  .title {
    font-size: 30px;
    width: 60%; /* Redimensionnez encore la taille du titre */
  }

  .carousel {
    margin-top: 20px;
    width: 100px;
    height: 60px;
    position: relative;
    padding-left: 48px;
    margin-left: -15px;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    flex: 0 0 33.33% !important; /* Affiche trois images à la fois */
    width: 35%;
  }
}

@media screen and (max-width: 375px) {
  .title{
    font-size: 31px;
    width: 65%;
  }

}

@media screen and (max-width: 360px) {
  .title{
    font-size: 27px;
  }

}