/* Home.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/tropical-palms.jpg'); /* Chemin relatif à partir de la racine du dossier public */
  background-size: cover;
  background-position: center;
  background-color: darkcyan;
}

.title {
  font-size: 29px;
  margin-bottom: 20px;
  color: #0c0c0c;
  font-family: fantasy;
  position: relative; /* Position relative pour utiliser z-index */
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  width: 15%;
  z-index: 1; /* Place l'image au-dessus des autres éléments */
  margin-top: 50px;
  padding-top: 30px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Ajoutez une marge en bas pour l'espace entre l'entrée et le bouton */
}


.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.task-item input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.task-item button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-item button:hover {
  background-color: #45a049;
}

.add-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-task-container input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.add-task-container button {
  background-color: #05e48f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-container button:hover {
  background-color: #0056b3;
}

